/*
* PH34 サンプル2 マスタテーブル管理 Src03/12
*
* CSSファイル
*
* ファイル名=main.css
* ディレクトリ=/ph34/scottadmindao/public/css/
*/

@charset "utf-8";

table {
    border-collapse: collapse;
}

th,
td {
    border: solid 1px black;
}

#breadcrumbs ul li {
    display: inline;
    list-style-type: none;
}

#breadcrumbs {
    margin-left: 0px;
}

#breadcrumbs ul {
    padding-left: 0px;
}

#breadcrumbs ul .current {
    color: red;
}

#breadcrumbs ul li:before {
    content: " > ";
}

#breadcrumbs ul li:first-child:before {
    content: none;
}

.required {
    color: red;
    font-size: 12px;
}

#errorMsg {
    border: solid 1px orange;
    color: red;
    padding: 10px;
    margin: 20px;
    width: 400px;
}

.box {
    border: solid green 1px;
    padding: 10px;
}